<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="Library.Frontend:EndpointName" value="LibraryFrontend_v1" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
  <connectionStrings>
    <add name="ReadStore" providerName="System.Data.SqlClient" connectionString="Server=.\SQLEXPRESS; Database=Library_v1_ReadStore; User ID=Library_ReadStore; Password=Library_ReadStore;" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>
</configuration>