<!DOCTYPE html>

<html>
    <head>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet" type="text/css" />

        <meta name="viewport" content="width=device-width" />

        <title>@ViewBag.Title</title>
    </head>
    <body>
        <main>
            <div class="container" role="main">
                @RenderBody()
            </div>
        </main>

        <footer>
            <div class="container">
                @using (Html.BeginForm("RepublishAll", "Event"))
                {
                    @Html.AntiForgeryToken()

                    <button class="btn btn-danger">Republish all events</button>
                }
            </div>
        </footer>
    </body>

    <script src="~/Scripts/jquery-2.1.1.min.js"></script>

    @RenderSection("Scripts", false)
</html>