<!DOCTYPE html>

<html>
    <head>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet" type="text/css" />

        <meta name="viewport" content="width=device-width" />

        <title>@ViewBag.Title</title>
    </head>
    <body>
        <div class="container" role="main">
            @RenderBody()
        </div>
    </body>
</html>