@model IReadOnlyCollection<BookModel>

@{

    ViewBag.Title = "Books";
}

<h2>Books</h2>

@using (Html.BeginForm("Register", null))
{
    <fieldset>
        <legend>Register a new book</legend>
        <input name="title" />

        @Html.AntiForgeryToken()

        <button class="register-book">Register</button>
    </fieldset>
}

<hr />

<div id="books">
    @Html.Partial("_List", Model)
</div>

@section Scripts
{
    <script src="~/Scripts/jquery.signalR-2.1.2.min.js"></script>

    <script src="~/signalr/hubs"></script>

    <script>
        ;
        (function ($) {
            $(function () {
                var libraryHub = $.connection.libraryHub;

                libraryHub.client.bookBorrowed = function (bookId) {
                    console.log('Book borrowed: ' + bookId);
                };

                libraryHub.client.bookRegistered = function (bookId, title) {
                    console.log('Book registered: ' + bookId + ' ' + title);
                };

                libraryHub.client.bookReturned = function (bookId) {
                    console.log('Book returned: ' + bookId);
                };

                $.connection.hub.start().done(function () {
                    console.log('Ready...');

                    $('.borrow-book').on('click', function (event) {
                        event.preventDefault();

                        var $borrowBook = $(this);

                        libraryHub.server.borrowBook($borrowBook.data('book-id'));
                    });

                    $('.register-book').on('click', function (event) {
                        event.preventDefault();

                        libraryHub.server.registerBook($('[name="title"]').val());
                    });

                    $('.return-book').on('click', function (event) {
                        event.preventDefault();

                        var $returnBook = $(this);

                        libraryHub.server.returnBook($(this).data('book-id'));
                    });
                });
            });
        })(window.jQuery);
    </script>
}