@model IReadOnlyCollection<BookModel>

@{

    ViewBag.Title = "Books";
}

<h2>Books</h2>

@using (Html.BeginForm("Register", null))
{
    <fieldset>
        <legend>Register a new book</legend>
        <input name="title" />

        @Html.AntiForgeryToken()
        <button>Register</button>
    </fieldset>
}

<hr />

<div id="books">
    @Html.Partial("_List", Model)
</div>

@section Scripts
{
    <script type="text/javascript">
        var $books = $('#books');

        setInterval(function () {
            $.ajax({
                type: 'GET',
                success: function (response) {
                    $books.html(response);
                },
                url: window.location
            });
        }, 1000);
    </script>
}