@{

    ViewBag.Title = "Books";
}

<h2>Books</h2>

<div id="register-book">
    <div class="alert alert-danger" role="alert" data-bind="visible: hasErrors">
        <ul data-bind="foreach: errorMessages">
            <li data-bind="text: $data"></li>
        </ul>
    </div>

    <form class="form-inline">
        <div class="form-group">
            <fieldset>
                <input class="form-control" data-bind="value: title" name="title" placeholder="Please enter the title..." />

                <button class="btn btn-primary" data-bind="click: registerBook">Register</button>
            </fieldset>
        </div>
    </form>
    <br />
</div>

<div id="books">
    <div class="alert alert-info" data-bind="visible: !books().length">
        <p>
            <span class="fa-stack fa-lg">
                <i class="fa fa-stack-2x fa-circle"></i>
                <i class="fa fa-stack-1x fa-inverse fa-info"></i>
            </span>
            <strong>No books found.</strong>
        </p>
    </div>

    <table id="books" class="table table-bordered table-hover table-striped" data-bind="visible: books().length" style="display: none;">
        <thead>
            <tr>
                <th>Book ID</th>
                <th>Title</th>
                <th></th>
            </tr>
        </thead>
        <tbody data-bind="foreach: books">
            <tr>
                <td data-bind="text: bookId"></td>
                <td data-bind="text: title"></td>
                <td>
                    <button class="btn btn-primary" data-bind="click: borrowBook, enable: canBorrow">Borrow</button>
                    <button class="btn btn-primary" data-bind="click: returnBook, enable: canReturn">Return</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

@section Scripts
{
    <script src="~/Scripts/jquery.signalR-2.1.2.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="~/CustomScripts/ViewModels/RegisterBookViewModel.js"></script>
    <script src="~/CustomScripts/ViewModels/BookViewModel.js"></script>
    <script src="~/CustomScripts/ViewModels/BooksViewModel.js"></script>


    <script>
        ;
        (function ($) {
            $(function () {
                var bookHub = $.connection.bookHub;

                var registerBookViewModel = new RegisterBookViewModel(bookHub);
                var booksViewModel = new BooksViewModel(bookHub);

                $.connection.hub.start().done(function () {
                    ko.applyBindings(registerBookViewModel, $('#register-book')[0]);
                    ko.applyBindings(booksViewModel, $('#books')[0]);
                });
            });
        })(window.jQuery);
    </script>
}